{{ form_start(form, {'attr': {'class': 'space-y-6'}}) }}
    <div>
        {{ form_label(form.name, null, {'label_attr': {'class': 'label'}}) }}
        {{ form_widget(form.name, {'attr': {'class': 'input-field'}}) }}
        {{ form_errors(form.name) }}
    </div>
    
    <div class="flex justify-end pt-6">
        <button type="submit" class="btn-primary">
            <svg class="w-5 h-5 inline mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
            </svg>
            {{ button_label|default('Save Category') }}
        </button>
    </div>
{{ form_end(form) }}
